

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


 #map {
        width: 100%;
        height: 100vh;
        background-color: grey;
      }

.facilities-select-box, .banks-select-box {
	height: 40vh;
	overflow: scroll;
}













